/* src/assets/styles/variables.css */
:root {
    --variable-collection-black: #000000;
    --variable-collection-white: #FFFFFF;
    --variable-collection-button: #0892D0;
    --variable-collection-v5-blue: #0074BD;
    --variable-collection-green: #34B539;
    --variable-collection-red: #E45F5F;
    --variable-collection-purple-blue: #5e6db9;
  }
  